<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDiagnosticsDispatcher" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17111/Http" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IDiagnosticsDispatcher" contract="Diagnostics.Contracts.IDiagnosticsDispatcher"
          name="BasicHttpBinding_IDiagnosticsDispatcher" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>



 