<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="DBConnection" 
         connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\diagnostics.mdf;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
   <appSettings>
    <add key="DataDirectory" value="C:\SharepointProjects\Diagnostics\Data"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Diagnostics.Services.Dispatcher.DiagnosticsDispatcher">
        <host>
          <baseAddresses>
             <add baseAddress="http://localhost:17111/"/> 
             <add baseAddress="net.Tcp://localhost:17112/"/>
          </baseAddresses>
        </host>
        <endpoint address="Tcp" binding="netTcpBinding" contract="Diagnostics.Contracts.IDiagnosticsDispatcher"/>
        <endpoint address="Http" binding="basicHttpBinding" contract="Diagnostics.Contracts.IDiagnosticsDispatcher">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Diagnostics.Services.Manager.DiagnosticsManager" behaviorConfiguration="managerBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.msmq://localhost/private/"/>
            <add baseAddress = "http://localhost:17121/" />
          </baseAddresses>
        </host>
        <endpoint address="service" 
                  binding="wsDualHttpBinding" 
                  contract="Diagnostics.Contracts.IDiagnosticsManager">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address  = "net.msmq://localhost/private/DiagnosticsQueue" 
                  contract = "Diagnostics.Contracts.IMessageStorage"
                  binding  = "netMsmqBinding" 
                  bindingConfiguration="noTransactNoAuthMSMQ" 
        /> 
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="noTransactNoAuthMSMQ" exactlyOnce="false" >
           <security mode="None"/> 
        </binding>
      </netMsmqBinding>
      <wsDualHttpBinding>
        <binding openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint   address  = "net.msmq://localhost/private/DiagnosticsQueue" 
                  contract = "Diagnostics.Contracts.IMessageStorage"
                  binding  = "netMsmqBinding" 
                  bindingConfiguration="noTransactNoAuthMSMQ"
       />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
        </behavior>
        <behavior name="managerBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>